html {
  scroll-behavior: smooth;
}

nav {
  position: fixed;
}

body {
  font-family: "Commissioner", sans-serif;
  font-size: 14px;
  color: #ee560f;
}

h1 {
  font-family: "Tourney", sans-serif;
  font-weight: "italic";
  font-size: 37px;
  color: #1d2540;
}

/* This was gathered from W3 schools, find a better reference or rewrite later */
.image-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 190px;
}

.section-page-footer {
  position: fixed;
  bottom: 0;
  height: auto;
  margin-top: 50px;
  width: 100%;
  text-align: center;
}

.universeofgames {
  color: #1d2540;
}
